<div class="container">
  <div class="col-md-3">
<%= render 'buyers/navbar' %>
  </div>
  <div class="col-md-9">
  	<%= render 'constructions/final' %>
  	<%= render 'easements/final' %>
  	<%= render 'liens/final' %>
  	<%= render 'manufactured_homes/final' %>
  	<%= render 'occupancies/final' %>
  	<%= render 'prior_policies/final' %>
  	<%= render 'property_uses/final' %>
  	<%= render 'taxes/final' %>
  	<br />
  	<br />
  </div>
  <div class="span7 text-center">
  <%= link_to "Submit", class: "btn btn-primary" %>
	</div>
	<br />
</div>
