<div class="form-group">
  <%= f.label :lien_number %>
  <%= f.number_field :lien_number %>
</div><br />
<div class="form-group">
  <%= f.label :lien_amount %>
  <%= f.number_field :lien_amount %>
</div><br />
<div class="form-group">
    <%= f.label "Recorded Lien" %><br />
    <%= f.file_field :recorded_lien %>
</div><br />
