<div class="container">
    <% if user_signed_in? %>
      <ul class="nav nav-pills nav-stacked">
      <li><%=link_to "Borrower", edit_buyer_path(@buyer)%></li>
      <li><%=link_to "Taxes", edit_buyer_tax_path(@buyer, @buyer.tax)%></li>
      <li><%=link_to "Liens", edit_buyer_lien_path(@buyer, @buyer.lien)%></li>
      <li><%=link_to "Right Of Way/Easements", edit_buyer_easement_path(@buyer, @buyer.easement)%></li>
      <li><%=link_to "Prior Policy", edit_buyer_prior_policy_path(@buyer, @buyer.prior_policy)%></li>
      <li><%=link_to "Manufactured Home", edit_buyer_manufactured_home_path(@buyer, @buyer.manufactured_home)%></li>
      <li><%=link_to "Occupancy Status", edit_buyer_occupancy_path(@buyer, @buyer.occupancy)%></li>
      <li><%=link_to "Construction", edit_buyer_construction_path(@buyer, @buyer.construction)%></li>
      <li><%=link_to "Property Use", edit_buyer_property_use_path(@buyer, @buyer.property_use)%></li>
      <li><a href="#">Mortgages</a></li>
    </ul>
    <% end %>
</div>
