<div class="container">
  <div class="col-md-3">
<%= render 'navbar' %>
  </div>
  <div class="col-md-9">
    <h1>Prior Title Policies</h1>

    <div class="jumbotron">
      <h4>Is there a Prior Policy: <%= @prior.pp_exists %></h4><br />
      <h4>Attached Prior: <%= link_to "PDF", @prior.pp_copy.url, target: "blank" %></h4><br />
    </div>

    <%= link_to "Next", new_buyer_manufactured_home_path(@buyer, @manufactured), class: "btn btn-primary" %> |
    <%= link_to "Edit", edit_buyer_prior_policy_path(@buyer, @prior), class: "btn btn-primary" %>
</div>
