<%= form_for @construction do |f| %>
<div class="form-group">
  <%= f.label :construct_complete %>
  <%= f.select :construct_complete, ["Yes", "No"] %>
</div><br />
<div class="form-group">
  <%= f.label :construct_lien_appointed %>
  <%= f.select :construct_lien_appointed, ["Yes", "No"] %>
</div><br />
<div class="form-group">
  <%= f.label :construct_lien_name %>
  <%= f.text_field :construct_lien_name %>
</div><br />
<% end  %>
