<h1>County Property Information</h1>

<div class="jumbotron">
  <%= if @buyer.property_address == "#{@database.column(31) @database.column(32)}" %>
    <%= @database.each do |database| %>
      <h4>Account Number: <%= database.column(2) %></h4>
      <h4>Tax Year: <%= database.column(3) %></h4>
      <h4>Real Estate ID: <%= database.column(16) %></h4>
      <h4>Primary Owner: <%= database.column(23) %></h4>
      <h4>Street Address: <%= database.column(31) %><%= database.column(32) %></h4>
      <h4>Deed Book: <%= database.column(38) %></h4>
      <h4>Deed Page: <%= database.column(39) %></h4>
      <h4>Building Value: <%= database.column(53) %></h4>
      <h4>Land Value: <%= database.column(54) %></h4>
      <h4>Total Property Value: <%= database.column(59) %></h4>
      <h4>Total Taxes Billed: <%= database.column(71) %></h4>
      <h4>Total Taxes Due: <%= database.column(75) %></h4>
    <% end %>
  <% end %>
</div>

<h2>Search County</h2>
<%= form_tag import_databases_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Search", class: "btn btn-primary btn-lg" %>
<% end %>
