<% person(@buyer.property_address.upcase!) %>
  <div class="col-md-3">
    <%= render 'buyers/navbar' %>
  </div>
  <div class="col-md-9">
    <h1>County Property Information</h1>
    <div class="jumbotron">
          <h4>Account Number: <%= $testing["Account Number"] %></h4><br />
          <h4>Tax Year: <%= $testing["Tax Year"] %></h4><br />
    </div>

<%= form_for @database, url: buyer_databases_path(@buyer), method: :post do |f| %>
  <%= f.hidden_field :account_number, value: $testing[0].to_i %>
  <%= f.hidden_field :tax_year, value: $testing[1].to_i %>
  <%= f.hidden_field :real_estate_num, value: $testing[4].to_i %>
  <%= f.hidden_field :primary_owner, value: $testing[9] %>
  <%= f.hidden_field :street_number, value: $testing[16].to_i %>
  <%= f.hidden_field :street_name, value: $testing[17] %>
  <%= f.hidden_field :deed_book, value: $testing[21].to_i %>
  <%= f.hidden_field :deed_page, value: $testing[22].to_i %>
  <%= f.hidden_field :building_value, value: $testing[25].to_i %>
  <%= f.hidden_field :land_value, value: $testing[26].to_i %>
  <%= f.hidden_field :total_value, value: $testing[27].to_i %>
  <%= f.hidden_field :total_tax_billed, value: $testing[38].to_i %>
  <%= f.hidden_field :total_tax_due, value: $testing[42].to_i %>
  <%= f.hidden_field :buyer_id, value: @buyer.id %>
  <%= submit_tag "Next", class: "btn btn-primary" %>
<% end %>
</div>
