<ul class="nav nav-pills nav-stacked">
  <li><%=link_to "Borrower", edit_buyer_path(@buyer)%></li>
  <li><%=link_to "Taxes", new_buyer_tax_path(@buyer, @tax)%></li>
  <li><%=link_to "Liens", new_buyer_lien_path(@buyer, @lien)%></li>
  <li><%=link_to "Right Of Way/Easements", new_buyer_easement_path(@buyer, @easement)%></li>
  <li><%=link_to "Prior Policy", new_buyer_prior_policy_path(@buyer, @prior_policy)%></li>
  <li><%=link_to "Manufactured Home", new_buyer_manufactured_home_path(@buyer, @manufactured_home)%></li>
  <li><%=link_to "Occupancy Status", new_buyer_occupancy_path(@buyer, @occupancy)%></li>
  <li><%=link_to "Construction", new_buyer_construction_path(@buyer, @construction)%></li>
  <li><%=link_to "Property Use", new_buyer_property_use_path(@buyer, @property_use)%></li>
  <li><a href="#">Mortgages</a></li>
</ul>
