<ul class="nav nav-pills nav-stacked">
 <li><%= buyer_check %></li>
 <li><%= link_check("tax")%></li>
 <li><%= link_check("lien") %></li>
 <li><%= link_check("easement") %></li>
 <li><%= link_check("prior_policy") %></li>
 <li><%= link_check("manufactured_home") %></li>
 <li><%= link_check("occupancy") %></li>
 <li><%= link_check("construction") %></li>
 <li><%= link_check("property_use") %></li>
 <li><%= link_check("mortgage") %></li>
 <li><%= link_to "Property Information", databases_path %></li>
</ul>
