<!DOCTYPE html>
<html>
<head>
  <title>Title Searches</title>
  <meta charset="utf=8">
    <meta charset="utf=8">
    <meta http=equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" %>
    <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="pull-right">
      <% if user_signed_in? %>
       <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
